---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/link/clicks?access_token=<token>&link=<link>&rollup=false&timezone=0&unit=minute&units=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"73f38bca7be007d92172789b1bc1825bbdf49423"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"units": 5, "unit_reference_ts": 1520709585,
        "tz_offset": 0, "unit": "minute", "link_clicks": [{"dt": 1520709540, "clicks":
        1}, {"dt": 1520709480, "clicks": 0}, {"dt": 1520709420, "clicks": 0}, {"dt":
        1520709360, "clicks": 0}, {"dt": 1520709300, "clicks": 0}]}, "status_txt":
        "OK"}'
  recorded_at: Sat, 10 Mar 2018 19:19:45 GMT
recorded_with: VCR 4.0.0
