---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/link/countries?access_token=<token>&link=<link>&timezone=0&unit=minute&units=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7821cd9392f9a9f17198375751a670b243d779a5"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"units": 5, "unit_reference_ts": null,
        "tz_offset": 0, "unit": "minute", "countries": [{"country": "GB", "clicks":
        1}]}, "status_txt": "OK"}'
  recorded_at: Sat, 10 Mar 2018 16:12:47 GMT
recorded_with: VCR 4.0.0
