---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/link/clicks?access_token=<token>&link=<link>&rollup=false&timezone=0&unit=minute&units=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4e17a10eba44051ba77627868fa5ec5bc5ddab08"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"units": 5, "unit_reference_ts": 1520706514,
        "tz_offset": 0, "unit": "minute", "link_clicks": [{"dt": 1520706480, "clicks":
        1}, {"dt": 1520706420, "clicks": 1}, {"dt": 1520706360, "clicks": 2}, {"dt":
        1520706300, "clicks": 1}, {"dt": 1520706240, "clicks": 0}]}, "status_txt":
        "OK"}'
  recorded_at: Sat, 10 Mar 2018 18:28:34 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/link/countries?access_token=<token>&link=<link>&timezone=0&unit=minute&units=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2293a9c15ddd5f7a35b297e767d35d6c21fe5a63"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"units": 5, "unit_reference_ts": null,
        "tz_offset": 0, "unit": "minute", "countries": [{"country": "DE", "clicks":
        2}, {"country": "GB", "clicks": 1}, {"country": "US", "clicks": 2}]}, "status_txt":
        "OK"}'
  recorded_at: Sat, 10 Mar 2018 18:28:35 GMT
recorded_with: VCR 4.0.0
